@model ForumProject.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit user";
}

<form asp-action="Edit" asp-controller="User">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info p-3">Edit user information</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <input asp-for="Id" type="text" hidden>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label class="text-white font-weight-bold" asp-for="UserName"></label>
                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="UserName" class="form-control"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Email" class="text-white font-weight-bold"></label>
                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" value="Change" class="btn btn-primary w-100"/>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
