@model ForumProject.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit user";
}

<form asp-action="Edit" asp-controller="User">
    <input asp-for="Id" type="text" hidden>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">UserName</label>
        <input type="text" asp-for="UserName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Change" class="btn btn-primary"/>
    </div>
</form>