@import "variables"

*
  padding: 0
  margin: 0

html, body
  height: 100%
  
body
  background-color: $background
  font-family: 'Josefin Sans', sans-serif
  
  
a
  text-decoration: none

.btn
  font-weight: bold
  
.btn-warning
  background: $secondColor
  border: 1px solid $secondColor
  &:hover
    background-color: $thirdColor
    border: 1px solid $secondColor
    
header
  font-family: 'Josefin Sans', sans-serif
  margin-bottom: 20px
  background-color: $grey
  .btn-warning
    a
      color: $background
  .btn-outline-light
    a
      color: white
    &:hover
      a
        color: $background
  .nav
    a
      font-weight: bold
      color: white
      &:hover
        color: $secondColor
        transition: .2s ease
      
h2
  color: $secondColor
  font-weight: bold
  
.filter-button
  border: 2px solid $secondColor
  color: $secondColor
  font-weight: bold
  margin-left: 10px
  
.card
  border: 2px solid $secondColor
.card-header
  background-color: $grey
  width: 100%
  margin-left: 0.2px
  label
    color: white
    font-size: 18px
    .text-info
      color: $secondColor
      font-weight: bold

      
.card-body
  padding: 5px
  background-color: $background
  .row
    color: white
    font-weight: bold
    text-align: left
  .desc
    color: white
.card-footer
  background-color: $background
  .btn
    background-color: $grey
    &:hover
      background-color: $secondColor
      color: $grey
      transition: .2s ease
      
.footer
  width: 100%
  padding-top: 10px
  padding-bottom: 10px
  background-color: $grey
  height: 60px
  .container
      justify-content: center
      align-items: center
  a
    color: white
    font-size: 30px
    &:hover
      color: $secondColor
      transition: .2s ease
      
.post-header
  color: $secondColor
  font-size: 40px
.icon
  font-size: 18px
  color: $secondColor
  margin-top: 5px
  i
    margin-right: 10px
    
    
.btn.btn-details
  background-color: $thirdColor
  
.img-fluid
  border-top-left-radius: 30px
  border-bottom-left-radius: 30px
  
.btn1
  border: none
  outline: none
  height: 50px
  width: 100%
  background-color: $thirdColor
  color: $background
  border-radius: 4px
  font-weight: bold
  &:hover
    background-color: $secondColor
    transition: .2s ease
    
.logo
  img
    height: 65px
    
.row.no-gutters
  border-radius: 30px
  box-shadow: 10px 10px 10px $thirdColor
  
.container
  min-height: 90%
  
.panel-heading, .note-editable
  background-color: white